<div id="lead_#{site.id}_profile_header" class="">
  <h3><i class="fa fa-sitemap"></i> <%= @feed_source.title %></h3>
  <h4><%= @feed_source.url %></h4>
  <h5><%= @feed_source.domain_name %></h5>
</div>