<div class="row">
  <section class="col-md-8 col-sm-12 col-md-offset-5 main-content">
    <div class="home-page-feedsource animated fadeIn ">
        <h1><i class="fa fa-list"></i> Listing Url</h1>
        <%= link_to '+ New feed_source', new_feed_source_path, class: "btn btn-default" %>
        <%= render "feeder/feed_sources/list", objects: @feed_sources %><br>
    </div>
  </section>
</div>