<div class="row">
  <section class="col-md-8 col-sm-12 col-md-offset-5 main-content">
    <div class="home-page-posts animated fadeIn ">
			<h1>New Url</h1>
			<%= render "form" %>
		</div>
	</section>
</div>