<div class="row">
<%= render partial: "header" %>
 <div id="follow_buttons" class= "row" >
    <% if current_user %>
      <% if @feed_source.followed_by?(current_user.id) %>
        <%= link_to 'Unfollow', unfollow_feed_source_path(@feed_source), remote: true %>  
      <% else %>
        <%= link_to 'Follow', follow_feed_source_path(@feed_source), remote: true, id: "feed_source_id", "data-posref" => @user_source %>  
      <%end%>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render "feeder/feeds/list", feeds: @feeds %>
  </div>
</div>