<div class="row">
  <div class="col-md-1">
    <i class="fa fa-sitemap fa-5x"></i>
  </div>
  <div class="col-md-11">
    <div class="profile-info">
      <div class="row">
        <h2><%= @site.domain %></h2>
        <h5><%= @site.title %></h5>
        <h6><%= @site.description %></h6>
        <h6><%= @site.keywords %></h6>
      </div>
    </div>
    <hr>
  </div>
</div>