<div class="row">
  <section class="col-md-8 col-sm-12 col-md-offset-5 main-content">
    <div class="home-page-sites animated fadeIn ">
        <h1><i class="fa fa-list"></i> Sites</h1>
        <%= render "feeder/sites/list", objects: @sites %><br>
    </div>
  </section>
</div>