<table>
	<thead>
		<tr>
			<th></th>
			<th>Domain</th>
			<th>Title</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @sites.each do |site| %>
		  <tr>
		  		<td><%= image_tag("#{site.image_url}", width: "16", height: "16", class: "img-responsive") %></td>
		      <td><%= site.domain %></td>
		      <td><%= site.title %></td>
		      <td><%= link_to 'Show', site %></td>
		      <!--td><%#= link_to 'Edit', edit_site_path(site) %></td-->
			</tr>
		<% end %>
	</tbody>
</table>