<div class="row">
  <section class="col-md-8 col-sm-12 col-md-offset-5 main-content">
    <div class="home-page-posts animated fadeIn ">
    <%= render partial: "header" %>
  </div>

    <div class="row">
      <div class="col-md-12">
  	<%= render "feeder/feeds/list", feeds: @feeds %>
	</div>
    </div>
  </section>
</div>