<div class="post-meta">
  <span><i class="fa fa-calendar"></i> <%= @published_at %> </span>
  <span><i class="fa fa-user"></i> Author: By <%= @author %> </span>
  <!--span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
  <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span-->
</div>