<div class="home-page-posts animated fadeIn ">
	<article class="post">
    <div class="post-preview col-xs-10  no-gutter">
      <h3><%= link_to feed.title, feeder.feed_path(feed) %></h3>
      <br><br>
			<p class="meta">
        <% unless feed.published_at.blank? %>
					<span><i class="fa fa-calendar"></i> <%= feed.published_at %> </span>
				<% end %>
				<% unless feed.author.blank? %>
					<span><i class="fa fa-user"></i> <%= feed.author %> </span>
				<% end %>
		  </p>
    </div>
	</article>
</div>
       