<div class="row">
	<div class="col-md-12">
		<div class="blog-posts">
			<div class="container">
			<section class="timeline">
				<div class="timeline-body">
					<%= render "box" %>
				</div>
			</section>
			<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to_next_page @feeds, 'Load More', remote: true, id: "load_more_link" %></button>
			
		</div>
	</div>
</div>