<div class="row">
	<div class="col-md-12">
		<div class="blog-posts">

			<section class="timeline">
				<div class="timeline-body">
					<% @feeds.each do |feed| %>
						<article class='timeline-box <%= (cycle("odd", "even") == "odd") ? "left" : "right" %> post post-medium'>
							<%= render feed %>
						</article>
					<% end %>
				</div>
			</section>

		</div>
	</div>
</div>